:root {
    --clr-primary-100: #191E25;
    --clr-primary-300: #FF9353;
    --clr-primary-400: #FF5F00;
    --clr-primary-500: #3a3e44;

    --clr-accent-100: ;
    --clr-accent-400: ;
    
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-400: #F0F0F0;

    --ff-primary: 'Rubik', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 400;
    --fw-regular: 500;
    --fw-semi-bold: 700;
    --fw-bold: 800;

    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.563rem;
    --fs-600: 2rem;
    --fs-700: 2.188rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fch-100: 45ch;
    --fch-200: 50ch;
    --fch-300: 60ch;
    --fch-400: 70ch;

    --fl-spacer-100: 1em;
    --fl-spacer-200: 2em;     

    --fs-body: var(--fs-400);
    --fs-button: var(--fs-300);
    --fs-nav: var(--fs-500);
    --fs-primary-heading: var(--fs-800);

    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
    
}

@media (min-width: 50em){
  :root {
    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-300);
    --fs-primary-heading: var(--fs-900);
    --fs-secundary-heading: var(--fs-700);    
  }
}

/* Reglas de tamaño de caja */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Elimina el margen por defecto */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Eliminar estilos de lista en elementos ul, ol con una función de lista, lo que sugiere que se eliminará el estilo predeterminado */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Establecer los valores predeterminados del srcoll */

html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}

/* Establecer los valores predeterminados del cuerpo central */

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Los elementos que no tienen una clase obtienen estilos predeterminados */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Hacer que las imágenes sean más fáciles de trabajar */

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Heredar fuentes para entradas y botones */

input,
button,
textarea,
select {
  font: inherit;
}

/* Eliminar todas las animaciones, transiciones y desplazamiento suave para las personas que prefieren no verlos */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header{
  border-bottom: 2px solid var(--clr-primary-400);
}

/* Cat */

/* .cta {
  position: relative;
  isolation: isolate;
}
  .cta::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("/images/productos/Plegables/3x3-techo-der_0011_Layer-1-1024x792.jpg");
  } */



/* Clases Utiles */

.text-primary-400 {
  color: var(--clr-primary-100);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-400);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.bg-primary-400 {
  background-color: var(--clr-primary-100);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-400);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-regural { font-weight: var(--fw-regular); }

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secundary-heading {
  font-size: var(--fs-secundary-heading);
}

.fs-300 { font-size: var(--fs-300) }
.fs-400 { font-size: var(--fs-400) }
.fs-500 { font-size: var(--fs-500) }
.fs-600 { font-size: var(--fs-600) }

.fch-100 {max-width: var(--fch-100)}
.fch-200 {max-width: var(--fch-200)}
.fch-300 {max-width: var(--fch-300)}
.fch-400 {max-width: var(--fch-400)}

.padding-block-900{
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.container-header {
  --max-width: 1200px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.container {
  --max-width: 1000px;
  --padding: 1rem; 
}

.even-columns {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.header-box {
  place-content: center;
  text-align: center;
  display: grid;
  text-transform: uppercase;
  font-size: var(--fs-300);
  width: auto;
  height: 2rem;
  padding-top: 1rem;
}
  .header-box img {   
    float: right;
    height: 18px;  
    padding-right: 24px;
  }

@media (min-width: 50em){
  .header-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
   
.logo img {
  display: flex;
  height: 80px;  
  transition: all 0.3s;
  width: auto;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* General Styling  */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-100);
}

/* Star Button */

.button {
  cursor: pointer;
  display: inline-flex;  
  text-decoration: none;
  align-items: center;
  border: 0;
  border-radius: 100vmax;
  padding: 0.75em 2.5em;
  font-weight: var(--fw-regular);
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  box-shadow: 0 1.125em 1em -1.125em var(--clr-primary-500);
}
  .button i {
    font-size: 1rem;   
    padding-left: 1em;
  }

.button:hover,
.button:focus-visible {
  background-color: var(--clr-primary-300);
}

.button-sm {
  cursor: pointer;
  display: inline-flex;  
  text-decoration: none;
  align-items: center;
  border: 0;
  border-radius: 100vmax;
  padding: 0.60em 1.5em;
  font-weight: var(--fw-regular);
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-100);
  box-shadow: 0 1.125em 1em -1.125em var(--clr-primary-500);
}
  .button-sm i {
    font-size: 1rem;   
    padding-left: 1em;
  }

.button-sm:hover,
.button-sm:focus-visible {
  background-color: var(--clr-primary-500);
}

/* End Button */

/*  Star Nav */

@media (max-width: 992px){
  .box {
    display: none;
  }
  .box a{
    display: none;
  }
}

header .logo {
  cursor: pointer;
}
header .logo img:hover {
  transform: scale(1.2);
}

.nav-link {  
  position: relative;
}
  .nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: var(--clr-primary-400);
    position: absolute;
    bottom: 0;
    left: 0;
  }
    .nav-link:hover::after {      
      opacity: 1;
    }

.h-search-form {
  /* width: 100%; */
  position: relative;
}

.h-search-form input {
  width: 100%;
  padding: 0 10px;
  border-radius: 50px;
  border-color: var(--clr-primary-100);
  border-style: solid;
  font-weight: 100;
  font-size: var(--fs-100);
  text-transform: capitalize;
  position: relative;
  color: var(--clr-primary-100);
  height: 2.5rem;
}
  .h-search-form input:hover {
    border-color: var(--clr-primary-400);
    border-style: solid;
  }
  .h-search-form button {
    position: absolute;
    right: 3px;
    height: 2.125rem;
    border: none;
    color: var(--clr-primary-100);
    background: none;
    top: 3px;
    border-radius: 50px;
    width: 35px;
  }
  .h-search-form button:hover {
    background: var(--clr-primary-100);
    color: var(--clr-neutral-100);
  }

.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--clr-primary-100);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* Navbar X Star */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* Navbar X End */

/* Navbar Toggler Collapse Star */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Navbar Toggler Collapse End */

/* .navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg, var(--clr-primary-100) 0%, var(--clr-primary-400) 100%);
} */

/* End Nav */

/* Star Home */

.text-bg-img {
  color: var(--clr-neutral-100);
  justify-content: center;
  padding: 20%  20%  20% 15%;  
}

@media (max-width: 992px){
  .text-bg-img {
    padding: 60% 0%;
  }
}

.bg-img {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1584559759045-d5062ca44f09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=100);
  background-size: cover;
  background-position: center;
}

.text-cn {
  text-align: center;  
}

@media (max-width: 992px){
  .text-cn {
    text-align: left;
  }
}

/* Star Carousel-P */

.carousel__container-p {
  position: relative;
  text-align: center;
}

.carousel__previous-p,
.carousel__next-p {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
  background: none;
  color: var(--clr-primary-100);
  opacity: 20%;
}

.carousel__previous-p:hover,
.carousel__next-p:hover {
  opacity: 100%;
}

.carousel__previous-p {
  left: -30px;
}

.carousel__next-p {
  right: -30px;
}

.carousel__list-p {
  overflow: hidden;
}

.carousel__elements-p button {
  margin-top: 20px;
}

.carousel__elements-p p {
  margin-bottom: 0;
}

.carousel__indicator-p.glider-dots button {
  margin-top: 50px;
  background: var(--clr-primary-100);
  opacity: .2;  
}

.carousel__indicator-p.glider-dots button:hover {
  opacity: .5;
}

.carousel__indicator-p.glider-dots button.active {
  opacity: 1;
}

@media (max-width: 992px){
  .carousel__previous,
  .carousel__next {
    display: none;
  }
}

/* End Carousel-P */

.card {
  margin: auto;
  margin-top: var(--size-400);
  border: 0; 
}    
    
.box-icon {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 350px;
}

.text-icon i {
  font-size: 45px;
}

@media (max-width: 992px){
  .box-icon {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    text-align: center;
  }
}

/* Star Carousel */

.carousel__container {
  position: relative;
  text-align: center;
}

.carousel__previous,
.carousel__next {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
  background: none;
  color: var(--clr-primary-100);
  opacity: 20%;
}

.carousel__previous:hover,
.carousel__next:hover {
  opacity: 100%;
}

.carousel__previous {
  left: -30px;
}

.carousel__next {
  right: -30px;
}

.carousel__list {
  overflow: hidden;
}

.carousel__elements img {
  margin: auto;
  height: 250px;
}

.carousel__elements button {
  align-content: center;
  margin-top: 30px;
}

.carousel__indicator.glider-dots button {
  margin-top: 50px;
  background: var(--clr-primary-100);
  opacity: .2;  
}

.carousel__indicator.glider-dots button:hover {
  opacity: .5;
}

.carousel__indicator.glider-dots button.active {
  opacity: 1;
}

.carousel__list glider draggable {

}

@media (max-width: 992px){
  .carousel__previous,
  .carousel__next {
    display: none;
  }
}

/* End Carousel */

.box-p {
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 10px;
  border: 2px solid var(--clr-primary-100);
  border-radius: 20px;
  margin: 30px auto;
}

.box-p img {
  max-width: 100%;
  height: 150px;
  align-content: center;
  object-fit: cover;
  padding: 5px;
}

.box-p .heading,
.box-p .text {
  width: 100%;
  padding: 0 5px;
  min-width: 100px;
}

@media (max-width: 992px) {
  .box-p {
    width: 300px;
    padding: 5px;
  }
}

.container-v {
  width: 900px;
  height: 506.25px;
  margin: 50px auto;
}

@media (max-width: 992px) {
  .container-v {
    width: 350px;
    height: 196.88px;
  }
}

.invert-img {
  width: 900px;
}

/* Star Form and Map */

.box-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  /* background: var(--clr-neutral-400); */
  /* box-shadow: 0 0 0.5rem var(--clr-primary-100); */
  overflow: hidden;
}

.form-container {
  font-size: var(--fs-400);
  margin-bottom: 1.5rem;
  margin: 15px 10px;
  border: 2px solid var(--clr-primary-100);
  border-radius: 20px;
  padding: 20px 20px;
}

.contact-form {
  display: grid;
  row-gap: 1rem;
}

  .contact-form input, .contact-form textarea {
    width: 100%;
    border: 2px;
    padding: 10px;
    background: var(--clr-neutral-400);
    border-radius: 0.4rem;
    bottom-ho;  
  }

  .contact-form textarea{
    resize: none;
    height: 200px;
  }

.form-button {
  margin-top: 15px;
}

.map iframe {
  width: 500px;
  height: 500px;
}

@media (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 90%;
  }
  .form-container {
    width: 62%;
    justify-content: center;
  }
}

/* End Form and Map */
