@mixin bg-img($img-url, $repeat: no-repeat) {
  width: 100%;
  height: 85vh;
  background-image: url($img-url);
  background-repeat: $repeat;
  background-size: cover;
  background-position: center;
}

.bg-img {
  @include bg-img('../images/header/3H-playa-carpas-slider-02.webp', repeat-x);
}

.bg-img-ple {
  @include bg-img('../images/header/SLD_BICIS_MAY2021_3H-1024x555.jpg', repeat-x);
}

.bg-img-set {
  @include bg-img('../images/header/3H-SLIDER-SET-PLAYER-3_VERANO2021-1024x555.webp', repeat-x);
}

.bg-img-bri {
  @include bg-img('../images/header/header-web-3h-carpas-brisa.webp', repeat-x);
}

.bg-img-taj {
  @include bg-img('../images/header/img1-arana17-1024x1024.jpg', repeat-x);
}

.bg-img-sta {
  @include bg-img('../images/header/MST_BANNER-EDIT_PERSONALIZADO_WEBSITE.jpg', repeat-x);
}
