//Media queries
@media (min-width: 50em) {
  :root {
    $fs-body: fs-400;
    $fs-nav: fs-300;
    $fs-primary-heading: fs-900;
    $fs-secundary-heading: fs-700;    
  }
}

//* Eliminar todas las animaciones, transiciones y desplazamiento suave para las personas que prefieren no verlos */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
}
    
*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

// Header

@media (min-width: 50em) {
  .header-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .text-bg-img {
    padding: 60% 0%;
  }
}

@media (max-width: 992px) {
  .text-cn {
    text-align: left;
  }
}