// Media queries
@media (min-width: 50em){
  :root {
    --fs-body: #($fs-400);
    --fs-nav: #($fs-300);
    --fs-primary-heading: #($fs-900);
    --fs-secundary-heading: #($fs-700);    
  }
}

// Header

@media (min-width: 50em) {
  .header-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .text-bg-img {
    padding: 60% 0%;
  }
}

@media (max-width: 992px) {
  .text-cn {
    text-align: left;
  }
}

@media (max-width: 992px){
  .box {
    display: none;
  }
  .box a{
    display: none;
  }
}

// Carousel

@media (max-width: 992px){
  .carousel__previous,
  .carousel__next {
  display: none;
  }
}

@media (max-width: 992px) {
  .carousel__previous-p,
  .carousel__next-p {
    display: none;
  }
}

@media (max-width: 992px){
  .carousel__previous-c,
  .carousel__next-c,
  .carousel__indicator-c.glider-dots {
    button {
      display: none;
    }
  }
}

// Home

@media (max-width: 992px){
  #img-bg {
    position: absolute;
    margin-top: 10px;
  }
}

@media (max-width: 992px){
  .text-bg-img {
    padding: 60% 0%;
  }
}

@media (max-width: 992px){
  .text-cn {
    text-align: left;
  }
}

@media (max-width: 992px) {
  .box-icon {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .container-v {
    width: 350px;
    height: 196.88px;
  }
}

@media (max-width: 992px) {
  .youtube{
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
    margin: auto;
    width: auto;
  }
  .form-container {
    width: 67%;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 300px) {
  .contact-container {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
  }
  .form-container {
    width: 51%;
    margin: auto;
    justify-content: center;
  }
}

// Plegable

// Set Playero

@media (max-width: 992px) {
  .container_set {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container_set button {
    margin-bottom: 50px;
  }
}

@media (max-width: 992px){
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25rem; 
  }
}

// Brisa

@media (max-width: 992px) {
  .comp-bri {
    display: flex;
    flex-direction: column;
  }
  .comp-bri img {
    width: 40%;
    align-content: center;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .container_bri {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
    .container_bri button {
      margin-bottom: 50px;
    }
      .set-bri img {
        margin-bottom: -30px;
      }
}

//Tah Mahal

@media (max-width: 992px) {
  .taj-doble-img {
    margin-top: -10px;
    margin-bottom: -100px;
    }
}

// Footer

@media (max-width: 992px) {
  .container-footer {
    display: grid;
  }
    .f-container {
      width: 100%;
      height: 5%;
      position: relative;
    }
}